<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename = 'styles/account.css')}}" rel="stylesheet" type="text/css">
    <script>
        function myFunction() {
            alert("Hello! your account is updated in our database. Thank you.");
        }
    </script>
</head>

<body>
    <header>
        <div class="container1">

            <img src="static/styles/img/logoproject.png" alt=l ogo class="logo">
            <nav>
                <ul>
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('about_us')}}">About</a></li>
                    <li><a href="{{url_for('contact_us')}}">Contact Us</a></li>
                    <li><a href="{{url_for('account')}}">Account</a></li>
                </ul>
            </nav>

        </div>
    </header>
    <div class="container">

        <h1> Personal information </h1>
        <img src="https://www.tenforums.com/geek/gars/images/2/types/thumb_15951118880user.png">
        <br>
        <input type="text" placeholder="UserName" value="Ben">
        <br>
        <input type="email" placeholder="Email ID" value="{{session['user']}}">
        <br>
        <input type="password" value="**********">
        <br>
        <input type="text" placeholder="Date of Birth">
        <br>
        <input type="text" placeholder="Gender">
        <br>
        <button onclick="myFunction()">DONE</button>


    </div>

</body>

</html>