<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename = 'styles/contact.css')}}" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <div class="container1">

            <img src="static/styles/img/logoproject.png" alt=logo class="logo">
            <nav>
                <ul>
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('about_us')}}">About</a></li>
                    <li><a href="{{url_for('contact_us')}}">Contact Us</a></li>
                    <li><a href="{{url_for('account')}}">Account</a></li>
                </ul>
            </nav>

        </div>
    </header>
    <div class="container">
        <h1> Contact US </h1>
        <br>
        <h1> Getting in touch is easy! </h1>
        <br>
        <p id="myInput">Email: wellnesssupport@gmail.com </p>
        <p id="myInput">Contact Number : (+1) 123-456-7890 </p>


    </div>

</body>

</html>